@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700;1,900&display=swap");
.nav-flex {
	flex-grow: 0;
	flex-shrink: 1;
	display: flex;
	padding-top: 2em;
	padding-bottom: 1em;
	align-items: center;
	justify-content: space-between;
}

.logoText {
	position: absolute;
	font-size: 70px;
	font-weight: 800;
	letter-spacing: -1px;
	line-height: 0.95;
	position: absolute;
	transition: -webkit-text-stroke 1s ease-in-out;
	-webkit-text-stroke: 3px #c655f7;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
	top: 0.2em;
	left: 0.2em;
	color: #f4f6ff;
	animation: textBorder 10s linear infinite;
	animation-direction: alternate;
}

.logoText:hover {
	-webkit-text-fill-color: rgba(255, 255, 255, 0.5);
	-webkit-text-stroke: 0px rgba(0, 0, 0, 0);
	animation: none;
}

@keyframes textBorder {
	0% {
		-webkit-text-stroke: 3px #e81d1d;
	}
	16% {
		-webkit-text-stroke: 3px #e8b71d;
	}
	33% {
		-webkit-text-stroke: 3px #e3e81d;
	}
	49% {
		-webkit-text-stroke: 3px #1de840;
	}
	65% {
		-webkit-text-stroke: 3px #1ddde8;
	}
	82% {
		-webkit-text-stroke: 3px #2b1de8;
	}
	100% {
		-webkit-text-stroke: 3px #dd00f3;
	}
}
