@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap");

.nav-flex {
	flex-grow: 0;
	flex-shrink: 1;
	display: flex;
	padding-top: 2em;
	padding-bottom: 1em;
	align-items: center;
	justify-content: space-between;
}

.logoText {
	font-size: 70px;
	letter-spacing: -5px;
	line-height: 0.95;
	position: absolute;
	text-shadow: 4px 4px #c655f7;
	top: 0.2em;
	left: 0.2em;
	color: black;
	animation: textShadow 5s linear infinite;
	animation-direction: alternate;
	transition: ease-in-out 0.2s;
}

.logoText:hover {
	color: rgba(0, 0, 0, 0);
}

@keyframes textShadow {
	0% {
		text-shadow: 4px 4px #e81d1d;
	}
	16% {
		text-shadow: 4px 4px #e8b71d;
	}
	33% {
		text-shadow: 4px 4px #e3e81d;
	}
	49% {
		text-shadow: 4px 4px #1de840;
	}
	65% {
		text-shadow: 4px 4px #1ddde8;
	}
	82% {
		text-shadow: 4px 4px #2b1de8;
	}
	100% {
		text-shadow: 4px 4px #dd00f3;
	}
}

@keyframes rainbow {
	0% {
		background-position: 0% 82%;
	}
	50% {
		background-position: 100% 19%;
	}
	100% {
		background-position: 0% 82%;
	}
}
