@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

html {
	min-height: 100% !important;
	height: 100%;
	/* background-color: #21d4fd;
	background-image: linear-gradient(19deg, #db85fa 0%, #21d4fd 100%); */
	background-image: url(./assets/imgs/unspash1.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
body {
	padding: 0;
	margin: 0;
	min-height: 100% !important;
	height: 100%;
	position: relative;
}

#root {
	min-height: 100vh;
	/* background-color: #21d4fd;
	background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%); */
	display: flex;
	flex-direction: column;
}

p {
	margin: 0;
	padding: 0;
}
