<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KnowYourMusic</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/general.css">
    <style>
        .cont-body {
            text-align: center;
            margin-top: 200px;
        }
        a.again {
            text-decoration: none;
            background-color: rgba(0, 58, 89, 0.7);
            font-family: 'Raleway', sans-serif;
            padding: 15px 15px;
            color: white;
            font-weight: 600;
            font-size: 1.5em;
            line-height: 75px;
            text-align: center;
            border-radius: 3px;
            margin: 0 auto;
            border: none;
        }
        
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="navbar">
            <a href="#">
                <h2 class="head-logo" data-shadow="KnowYourMusic">KnowYourMusic</h2>
            </a>
            <a href="#" class="head-about" data-toggle="modal" data-target="#aboutModal">About</a>
        </div>
        <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">About KnowYourMusic</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">s
                        Check out the <a href="/about" target="_blank"><b>landing page!</b></a><br />
                        KnowYourMusic is a lyric guessing game built by <a href="http://eitanmayer.com"
                            target="#"><i><b>Ethan Mayer</b></i></a>. This game was built as an end-of-year project at
                        Holberton School. If you're interested in how this game was built, check out its <a href="#"
                            target="#"><i><b>Github repository</b></i></a>.<br />Enjoy!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont-body">
            <div class="score" style="display: none;"><%= score %></div>
            <h1>Game Over!</h1>
            <h3 class="final"></h3>
            <div class="hvr-grow-shadow"><a href="/start" class="again">Play again?</a></div>
        </div>
    </div>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(() => {
            const score = $('.score').html();
            console.log(score);
            $('.final').html('You\'re score: ' + (score * 10) + '%');
        })
    </script>
</body>

</html>