body {
    overflow: hidden;
}

.container-fluid {
  width: 98%;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  background: -webkit-linear-gradient(#7927b2, #fb3182);
  background: -moz-linear-gradient(#7927b2, #fb3182);
  background: -o-linear-gradient(#7927b2, #fb3182);
  background: linear-gradient(#7927b2, #fb3182);
  background-size: cover;
  overflow-y: scroll;
  overflow: hidden;
}

.line {
    margin-top: 5%;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    color: white;
    text-align: center;
    font-style: italic;
}
.quest {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #012959;
}

.bar {
    height: 30px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.in {
    animation: empty 10s linear;
    height: 100%;
    background-color: #ffedfc;
    float: right;
}

@keyframes empty {
    0% {
      width: 100%;
    }
    60% {
      background-color: #ffedfc;
    }
    100% {
      width: 0%;
      background-color: #ee0000;
    }
}

.songs {
  margin-top: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}


.clicked {
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
}

.true {
    -webkit-text-fill-color: #0FBA23 !important;
}

.false {
    -webkit-text-fill-color: red !important;
}


.song-option {
    margin-top: 3%;
    border-radius: 1px;
    background: white;
    flex-basis: 35%;
    border: none;
    box-shadow: 0 5px 38px 0 rgba(0, 0, 0, 0.30), 0 5px 38px 0 rgba(0, 0, 0, 0.22);
    transition: .4s;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
}

.song-name {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 10px 0px;
    background: -webkit-linear-gradient(left, #7927b2, #fb3182);
    background: -moz-linear-gradient(left, #7927b2, #fb3182);
    background: -o-linear-gradient(left, #7927b2, #fb3182);
    background: linear-gradient(to right, #7927b2, #fb3182);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-family: 'Verdana', sans-serif;
    -webkit-transition: -webkit-text-fill-color .3s ease-out;
    -moz-transition: -webkit-text-fill-color .3s ease-out;
    -o-transition: -webkit-text-fill-color .3s ease-out;
    transition: -webkit-text-fill-color .3s ease-out;
}

.song-name .song-title {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.song-name .song-artist {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    transition-duration: 0.3s;
  }


.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  

  @media only screen and (max-width: 550px) {
    .songs {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        overflow-y: scroll;
    }
  }
