
.container-fluid {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 100px 50px;
}

.container-fluid .titles {
  color: 	rgba(0,58,89,0.7);
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.titles p:first-child {
  font-size: 4em;
  animation: 1s ease-out 0s slideInFromLeft;
}

.subtitle {
  font-size: 1.3em;
  text-align: center;
  animation: 1s ease-out 0s slideInFromRight;
}

.spotify {
  margin-top: 50px;
    color: white;
    border-radius: 100px;
    border: 3px solid #282828;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    width: 300px;
    animation: 1s ease-out 0s slideInFromBottom;
}

.spotify:hover {
    background-color: #282828;
    border: 3px solid #1DB954;
    box-shadow: 0 0 8px rgba(30, 215, 96, 0.6);
}

.spotify_logo {
    width: 70%;
    height: auto;
}

.greet-name {
  margin: 0 auto;
}

#welcome {
  font-family: 'Alegreya SC', serif;
  font-style: italic;
  font-size: 30px;
  animation: 1s ease-out 0s slideInFromTop;
}

#name {
  font-family: 'Monoton', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 10px;
  font-size: 5em;
  animation: 1s ease-out 0s slideInFromLeft;
}

.start-game {
  text-decoration: none;
  background-color: rgba(0, 58, 89, 0.7);
  font-family: 'Raleway', sans-serif;
  padding: 15px 15px;
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 75px;
  text-align: center;
  border-radius: 3px;
  animation: 1s ease-out 0s slideInFromRight;
}

.start-game:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(0,34,53, 0.7);
}





