$shadow: 0.05em 0.05em;

.logoText {
	cursor: pointer;
	color: white;
	transition: all 0.4s ease-in;
}

.animate {
	text-shadow: $shadow #e8b71d;
	animation: textBorder 10s linear infinite;
	animation-direction: alternate;
	transition: all 0.4s ease-in;
}

.logoText:hover {
	animation-play-state: paused;
	transition: all 0.15s ease-in;
}

@keyframes textBorder {
	0% {
		color: #f60000;
		text-shadow: $shadow #ffee00;
	}
	16% {
		color: #ff8c00;
		text-shadow: $shadow #4de94c;
	}
	33% {
		color: #ffee00;
		text-shadow: $shadow #3783ff;
	}
	49% {
		color: #4de94c;
		text-shadow: $shadow #4815aa;
	}
	65% {
		color: #3783ff;
		text-shadow: $shadow #9400d3;
	}
	82% {
		color: #4815aa;
		text-shadow: $shadow #f60000;
	}
	100% {
		color: #9400d3;
		text-shadow: $shadow #ff8c00;
	}
}

.section1 {
	position: relative;
	padding-top: 80px;
}

.section1 a div {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;

	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb07 2s infinite;
	animation: sdb07 2s infinite;
	opacity: 0;
	box-sizing: border-box;
}
.section1 a div:nth-of-type(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.section1 a div:nth-of-type(2) {
	top: 16px;
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}
.section1 a div:nth-of-type(3) {
	top: 32px;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
@-webkit-keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
